*.log
*.rej
*.tmp
*.log
.cache/
.DS_Store
.idea/
.npmrc
.gradle
node_modules/
coverage/
build/

dist/
**/core/esm/
charts/boxplot/sn-boxplot-ext/
charts/distributionplot/sn-distributionplot-ext/
charts/histogram/sn-histogram-ext/
charts/waterfallchart/sn-waterfall-ext/

test-results
test/rendering/reports
test/rendering/suites/**/*local*.png
test/rendering/**/*local*.png
test/integration/**/**/*local*.png
test/integration/reports
